
<div id="nd-widget-gurusonline" >

    Gurus online: <span class="btn btn-mini btn-info" data-on="click" data-name="usercount"></span>

    <div id="userliste" style="display:none" data-defaultvalues="client" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" data-backdrop="static" class="modal hide" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" class="close" type="button" data-dismiss="modal" >×</button>
            <h3 id="myModalLabel">Gurus Online(<span data-name="usercount"></span>)</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal resolver">
                <div class="control-group">
                    <table class="conflicts table-hover table-striped table-condensed"> 
                        <thead>
                            <tr><th>User</th><th>Jobs</th><th>tippt</th></tr>
                        </thead>
                        <tbody data-name="user" data-view="userliste" data-on="clientlist">
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <div class="modal-footer"> 
            <button data-dismiss="modal" class="btn btn-primary okbtn">schließen</button>
        </div>
        <script src="http://crowdmodul.local:18111/widgets/userliste/js/userliste.js"></script>
    </div>
</div>
 