
<div id="nd-widget-gurusonline" >

    Gurus online: <span class="btn btn-mini btn-info" data-on="click" data-name="usercount"></span>

    <div id="userliste" style="display:none;" data-defaultvalues="client" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" data-backdrop="static" class="modal hide" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" class="close" type="button" data-dismiss="modal" data-name="close" data-on="click">×</button>
            <h3 id="myModalLabel">Gurus Online(<span data-name="usercount"></span>)</h3>
        </div>
        <div class="modal-body" style="max-height: 612px;min-height: 400px;">
            <form class="form-horizontal resolver">
                <div class="control-group">
                    <table class="conflicts table-hover table-striped table-condensed" style="width:100%;"> 
                        <thead>
                            <tr><th>User</th><th>Seiten</th><th>Aktion</th><th>Browser</th></tr>
                        </thead>
                        <tbody data-name="user" data-view="userliste" data-on="clientlist">
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-primary okbtn" data-name="close" data-on="click">schließen</button>
        </div>
        <script src="//crowdmodul.crowdguru.de:18111/widgets/userliste/js/userliste.js"></script>
 
    </div>
</div>


